@import "./components/variables"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    background-color: $color-gray-background

ul
    list-style: none

img
    width: 100%
    background-color: transparent

p
    line-height: $line-heights-h1-texts
    color: $color-gray-texts

a
    text-decoration: none

audio
    width: 100%
