.mainArtist {
  display: flex;
}

.cardArtist {
  width: 50%;
  height: -moz-max-content;
  height: max-content;
  padding: 0 32px;
}

.divArtworksSection {
  width: 50%;
}

.artworksArtistSection {
  padding: 16px;
  display: grid;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 5vw;
  grid-template-columns: 47.4% 47.4%;
}

@media (min-width: 1000px) {
  .artworksArtistSection {
    -moz-column-gap: 5%;
         column-gap: 5%;
    row-gap: 2.5vw;
    grid-template-columns: 30% 30% 30%;
  }
}
@media (min-width: 1800px) {
  .artworksArtistSection {
    -moz-column-gap: 3%;
         column-gap: 3%;
    row-gap: 1.5vw;
    grid-template-columns: 30% 30% 30%;
  }
}