* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E6E8EB;
}

h1, h2, h3, p {
  font-family: "Nunito Sans";
}

h1 {
  color: #185EF1;
}

h2, p, h3 {
  color: #64646C;
}

h1, h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  background-color: transparent;
}

img:not([src]), img[src=""] {
  visibility: hidden;
}

p {
  line-height: 32px;
  color: #64646C;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /* Chrome, Safari, Android */
  -webkit-focus-ring-color: transparent;
  /* Chrome, Safari */
  outline: none;
  /* Firefox, Edge, IE */
}

audio {
  width: 100%;
}

h1, h2, h3 {
  font-family: "Nunito Sans";
}

.loadingScreen {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #E6E8EB;
  text-align: center;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 32px;
  color: #185EF1;
}

.containerLoader {
  width: 70px;
  height: 35px;
  overflow: hidden;
}

.loader {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-top-color: #185EF1;
  border-right-color: #185EF1;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s ease-in-out infinite;
  transform: rotate(-200deg);
}

@keyframes rotate {
  0% {
    border-width: 10px;
  }
  25% {
    border-width: 3px;
  }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
  }
}
.loadingImage {
  animation: loadingImage infinite 1s;
}

.img--loadingImage {
  display: none;
}

@keyframes loadingImage {
  0%, 100% {
    opacity: 40%;
    background: #64646C;
  }
  50% {
    opacity: 10%;
  }
}